/* Universal reset */

* {
    margin: 0;
    padding: 0;
}

header, footer, article, section, hgroup, nav, figure {
    display: block;
}

/* Styles */

#wrapper {
    margin: 2em auto;
    width: 700px;
}

body {
    color: #333;
    background-color: #fff;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    font-weight: 400;
    font-size: 1.9em;
    margin: 0 0 .7em 0;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 1em 0 0 0;
}

h3 {
    font-weight: 400;
    font-size: 1.2em;
    margin: 1.9em 0 .7em 0;
}

h4 {
    font-weight: 400;
    font-size: 1.1em;
    margin: 0em 0 .7em 0;
}

#src-links {
    padding: 1em;
    margin: 1em 0;
    background-color: #efefef;
}

#test-links {
    padding: 1em;
    margin: 1em 0;
    background-color: #efefef;
}

td {
    text-align: left;
    vertical-align: top;
}

.left-cell {
    padding: 10px 10px 20px 0px;
}

.right-cell {
    padding: 10px 0px 20px 10px;
}

.box {
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #eee;
    text-align: center;
}